* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

header {
  background-color: #2e2e2e;
  color: #fff;
  padding: 30px;
}

ul, ol, li {
  list-style-type: none;
}

h1 {
  margin-bottom: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h2 {
  margin: 25px 0px;
}

button {
  margin: 16px 0px;
  padding: 10px 20px;
  color: #fff;
  background-color: #2e2e2e;
}

section ul {
  margin-bottom: 40px;
}

li {
  margin: 10px 0px;
}